@import "tailwindcss";
body {
    overflow: hidden;
    background-color: #f5f7fa;
    font-family: Tahoma, sans-serif;
}

/* ===== Custom Scrollbar ===== */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #f3f4f6;
}
